html,
body {
    height: 100%;
    background: rgb(206,131,241);
    background: linear-gradient(90deg, rgba(206,131,241,1) 0%, rgba(129,129,227,1) 38%, rgba(0,212,255,1) 93%, rgba(0,228,255,1) 100%);
}

body {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f5f5f5;
}

main {
    max-width: 90vw;
}

.content {
    background: #66224455;
}
.content-weak {
    background: #66224422;
}

.button-my {
    background: #66224488 !important;
    border-color: #fff !important;
}

.filter-white {
    filter: invert(100%) sepia(0%) saturate(9%) hue-rotate(215deg) brightness(102%) contrast(101%);
}

.input--top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}