<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="bts_head">
    <meta charset="UTF-8"/>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-table.css}" rel="stylesheet">
    <link th:href="@{css/index.css}" rel="stylesheet">
</head>
<body th:fragment="bts_body(content, title)" style="padding-top: 65px;">
<script th:src="@{/js/jquery.js}"></script>
<script th:src="@{/js/bootstrap.bundle.js}"></script>
<script th:src="@{/js/bootstrap-table.js}"></script>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/}">Task 4</a>
        <th:block sec:authorize="isAuthenticated()">
            <p class="navbar-text">
                @<span sec:authentication="name"></span>
            </p>

            <form th:action="@{/logout}" method="post">
                <input class="button btn btn-outline-primary" type="submit" value="Log out"/>
            </form>

        </th:block>
        <th:block sec:authorize="!isAuthenticated()">
            <p class="navbar-text">Not authorized.</p>
        </th:block>
    </div>
</nav>

<main class="px-lg-5 px-sm-1">
    <div class="content p-5 rounded text-light">
        <b><h1 class="h3 mb-3 font-weight-normal text-light" align="center" th:text="${title}"></h1></b>
        <hr>

        <div th:replace="${content}"></div>
    </div>
</main>

</body>
</html>