<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="frags.html::bts_head"></th:block>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
<th:block th:insert="frags.html::bts_body(~{::div}, 'Index')">
    <div sec:authorize="!isAuthenticated()">
        <p>You can either sign in or sign up to access the website contents.</p>
        <a th:href="@{/login}" class="btn btn-outline-primary">Sign in</a>
        <a th:href="@{/register}" class="btn btn-outline-primary">Sign up</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <table class="table table-bordered table-sm table-hover">
            <thead class="thead-light">
            <tr>
                <th scope="col">
                    <input type="checkbox" value="">
                </th>
                <th scope="col" style="font-size: 13px">Id</th>
                <th scope="col" style="font-size: 13px">Username</th>
                <th scope="col" style="font-size: 13px">Name</th>
                <th scope="col" style="font-size: 13px">Email</th>
                <th scope="col" style="font-size: 13px">Registration date</th>
                <th scope="col" style="font-size: 13px">Last login date</th>
                <th scope="col" style="font-size: 13px">Is active</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <th scope="col">
                    <input type="checkbox" value="">
                </th>
                <td class="text-truncate" style="font-size: 13px" th:text="${user.getId()}"></td>
                <td class="text-truncate" style="font-size: 13px" th:text="${user.getUsername()}"></td>
                <td class="text-truncate" style="font-size: 13px" th:text="${user.getName()}"></td>
                <td class="text-truncate" style="font-size: 13px" th:text="${user.getEmail()}"></td>
                <td class="text-truncate" style="max-width: 1vw;font-size: 13px" th:text="${user.getRegistrationDate()}"></td>
                <td class="text-truncate" style="max-width: 1vw;font-size: 13px" th:text="${user.getLastLoginDate()}"></td>
                <td class="text-truncate" style="font-size: 13px" th:text="${user.getActive()}"></td>
            </tr>
            </tbody>
        </table>

        <script th:src="@{/js/index.js}"></script>
    </div>
</th:block>
</body>
</html>