<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <th:block th:insert="frags.html::bts_head"></th:block>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
<th:block th:insert="frags.html::bts_body(~{::div}, 'User table page')">
    <div sec:authorize="!isAuthenticated()">
        <p>Unauthorized users don't have access to this page.</p>
        <br>
        <p>You can either sign in or sign up to access the website contents.</p>
        <a th:href="@{/login}" class="btn btn-outline-primary">Sign in</a>
        <a th:href="@{/register}" class="btn btn-outline-primary">Sign up</a>
    </div>
    <div sec:authorize="isAuthenticated()">
        <script th:if="${suicide}">
            window.location.replace("logout");
        </script>
        <div class="row">
            <div class="btn-group mb-3 " style="position: relative;left: 100%;transform: translateX(-112%);">
                <button type="button" id="unblock" class="btn btn-outline-secondary">
                    <img src="/img/unlock.svg" alt="Unblock" width="16" height="16">
                </button>
                <button type="button" id="block" class="btn btn-outline-secondary">
                    <img src="/img/lock.svg" alt="Block" width="16" height="16">
                </button>
                <button type="button" id="delete" class="btn btn-outline-secondary">
                    <img src="/img/trash.svg" alt="Delete" width="16" height="16">
                </button>
            </div>
        </div>

        <table data-toggle="table"
               data-toolbar="#toolbar"
               data-height="460"
               data-click-to-select="true">
            <thead>
            <tr>
                <th data-checkbox="true"></th>
                <th scope="col" data-sortable="true" style="font-size: 13px">Id</th>
                <th scope="col" data-sortable="true" style="font-size: 13px">Username</th>
                <th scope="col" data-sortable="true" style="font-size: 13px">Name</th>
                <th scope="col" data-sortable="true" style="font-size: 13px">Email</th>
                <th scope="col" data-sortable="true" style="font-size: 13px">Sign up date</th>
                <th scope="col" data-sortable="true" style="font-size: 13px">Last login date</th>
                <th scope="col" data-sortable="true" style="font-size: 13px">Is active</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user:${users}">
                <th data-checkbox="true"></th>
                <td class="text-truncate" style="font-size: 13px" th:text="${user.getId()}"></td>
                <td class="text-truncate" style="font-size: 13px" th:text="${user.getUsername()}"></td>
                <td class="text-truncate" style="font-size: 13px" th:text="${user.getName()}"></td>
                <td class="text-truncate" style="font-size: 13px" th:text="${user.getEmail()}"></td>
                <td class="text-truncate" style="max-width: 1vw;font-size: 13px"
                    th:text="${user.getRegistrationDate()}"></td>
                <td class="text-truncate" style="max-width: 1vw;font-size: 13px"
                    th:text="${user.getLastLoginDate()}"></td>
                <td class="text-truncate" style="font-size: 13px" th:text="${user.getActive()}"></td>
            </tr>
            </tbody>
        </table>
        <script th:src="@{/js/index.js}"></script>
    </div>
</th:block>
</body>
</html>