<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="frags.html::bts_head"></th:block>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
<th:block th:insert="frags.html::bts_body(~{::div})">
    <div>
        <p>You can either sign in or sign up to access the website contents.</p>
        <a th:href="@{/login}" class="btn btn-outline-primary">Sign in</a>
        <a th:href="@{/register}" class="btn btn-outline-primary">Sign up</a>
    </div>
</th:block>
</body>
</html>